@import "~assets/styles/variables.scss";

.body {
  padding-top: $header-height;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  text-align: center;
  @media screen and (min-width: 960px) {
    padding: $header-height 72px 0;
  }
}

.time {
  height: 50vh;
  text-align: center;
  line-height: 50vh;

  @include text(large, bold)
}